<html>
  <head></head>
  <body>
    <h1>Artists</h1>
    <% @artist_repository.all.each do |artist| %>
      <div>
      <a href="/artists/<%= artist.id %>"> <%= artist.name %> </a>
      </div>
    <% end %>
  </body>
</html>