<html>
  <head></head>
  <body>
  <h1>Add an album</h1>
    <form action="/albums" method="POST">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="release_year">Release Year:</label><br>
      <input type="text" id="release_year" name="release_year"><br>
      <label for="artist_id">Artist ID:</label><br>
      <input type="text" id="artist_id" name="artist_id"><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>